<div>
  <div class="popin-holder popin-holder-on">
    <div class="popin-dialog">
      <div class="popin-dialog-decoration"></div>
      <h3 data-translate>MULTIPLE_CHOICES_POPUP_TITLE</h3>

      <form action="javascript:;" class="standard-form login-form" id="intro_form" method="POST">
        <div class="form-group">
          <button class="btn btn-primary green-button" type="submit" ng-click="goToEditAlbum()" data-translate>EDIT
          </button>
        </div>
        <div class="form-group">
          <button class="btn btn-danger" type="submit" ng-click="openDeleteAlbumPopup()" data-translate>DELETE</button>
        </div>
        <button class="btn btn-secondary" type="submit" ng-click="$close()" data-translate>CANCEL</button>
      </form>

    </div>
  </div>
</div>
