.famicity-presentation {
  #slide1 {
    background: url("../../images/parallax/background/famicity-presentation-visuel1-480.jpg") center 0 no-repeat fixed;
    background-size: cover;
  }
  #image-slide2 {
    background: url("../../images/parallax/background/famicity-presentation-visuel2-480.jpg") center 0 no-repeat fixed;
    background-size: cover;
  }
  #image-slide3 {
    background: url("../../images/parallax/background/famicity-presentation-visuel3-480.jpg") center 0 no-repeat fixed;
    background-size: cover;
  }
  #image-slide4 {
    background: url("../../images/parallax/background/famicity-presentation-visuel4-480.jpg") center 0 no-repeat fixed;
    background-size: cover;
  }
  #image-slide5 {
    background: url("../../images/parallax/background/famicity-presentation-visuel5-480.jpg") center 0 no-repeat fixed;
    background-size: cover;
  }
  #image-slide6 {
    background: url("../../images/parallax/background/famicity-presentation-visuel6-480.jpg") center 0 no-repeat fixed;
    background-size: cover;
  }
}

.famicity-presentation.my-story {
  #slide1 {
    background: url("../../images/parallax/background/my-story-480-768.jpg") center 0 no-repeat fixed;
    background-size: cover;
  }
}

.famicity-presentation.my-feed {
  #slide1 {
    background: url("../../images/parallax/background/my-feed-480-768.jpg") center 0 no-repeat fixed;
    background-size: cover;
  }
}

.famicity-presentation.my-memories {
  #slide1 {
    background: url("../../images/parallax/background/my-memories-480-768.jpg") center 0 no-repeat fixed;
    background-size: cover;
  }
}

/* 768px */
@media only screen and (min-width: 768px) {

    .famicity-presentation #slide1 {
        background: url("../../images/parallax/background/famicity-presentation-visuel1-768.jpg") center 0 no-repeat fixed;
        background-size: cover;
    }

    .famicity-presentation.my-story {
      #slide1 {
        background: url("../../images/parallax/background/my-story-768-700.jpg") center 0 no-repeat fixed;
        background-size: cover;
      }
    }

    .famicity-presentation.my-feed {
      #slide1 {
        background: url("../../images/parallax/background/my-feed-768-700.jpg") center 0 no-repeat fixed;
        background-size: cover;
      }
    }

    .famicity-presentation.my-memories {
      #slide1 {
        background: url("../../images/parallax/background/my-memories-768-700.jpg") center 0 no-repeat fixed;
        background-size: cover;
      }
    }

    .famicity-presentation #image-slide2 {
        background: url("../../images/parallax/background/famicity-presentation-visuel2-768.jpg") center 0 no-repeat fixed;
        background-size: cover;
    }

    .famicity-presentation #image-slide3 {
        background: url("../../images/parallax/background/famicity-presentation-visuel3-768.jpg") center 0 no-repeat fixed;
        background-size: cover;
    }

    .famicity-presentation #image-slide4 {
        background: url("../../images/parallax/background/famicity-presentation-visuel4-768.jpg") center 0 no-repeat fixed;
        background-size: cover;
    }

    .famicity-presentation #image-slide5 {
        background: url("../../images/parallax/background/famicity-presentation-visuel5-768.jpg") center 0 no-repeat fixed;
        background-size: cover;
    }

    .famicity-presentation #image-slide6 {
        background: url("../../images/parallax/background/famicity-presentation-visuel6-768.jpg") center 0 no-repeat fixed;
        background-size: cover;
    }

}

/* 980px */
@media only screen and (min-width: 980px) {

    .famicity-presentation #slide1 {
        background: url("../../images/parallax/background/famicity-presentation-visuel1-980.jpg") center 0 no-repeat fixed;
        background-size: cover;
    }

    .famicity-presentation.my-story {
      #slide1 {
        background: url("../../images/parallax/background/my-story-1200-800.jpg") center 0 no-repeat fixed;
        background-size: cover;
      }
    }

    .famicity-presentation.my-feed {
      #slide1 {
        background: url("../../images/parallax/background/my-feed-1200-800.jpg") center 0 no-repeat fixed;
        background-size: cover;
      }
    }

    .famicity-presentation.my-memories {
      #slide1 {
        background: url("../../images/parallax/background/my-memories-1200-800.jpg") center 0 no-repeat fixed;
        background-size: cover;
      }
    }

    .famicity-presentation #image-slide2 {
        background: url("../../images/parallax/background/famicity-presentation-visuel2-980.jpg") center 0 no-repeat fixed;
        background-size: cover;
    }

    .famicity-presentation #image-slide3 {
        background: url("../../images/parallax/background/famicity-presentation-visuel3-980.jpg") center 0 no-repeat fixed;
        background-size: cover;
    }

    .famicity-presentation #image-slide4 {
        background: url("../../images/parallax/background/famicity-presentation-visuel4-980.jpg") center 0 no-repeat fixed;
        background-size: cover;
    }

    .famicity-presentation #image-slide5 {
        background: url("../../images/parallax/background/famicity-presentation-visuel5-980.jpg") center 0 no-repeat fixed;
        background-size: cover;
    }

    .famicity-presentation #image-slide6 {
        background: url("../../images/parallax/background/famicity-presentation-visuel6-980.jpg") center 0 no-repeat fixed;
        background-size: cover;
    }

}
