.forgotten-password-s1 {
  background-color: rgb(224,213,209);
  .welcome-message {
    margin-bottom: 20px;
  }
}
.forgotten-password-s2 {
  .screen-response {
    margin: 0 auto;
    .response-icon {
      & > i {
        display: inline-block;
        position: relative;
        margin-top: 20%;
        & > i {
          display: inline-block;
          left: 30%;
          position: absolute;
          top: -40%;
        }
      }
    }
  }
  .screen-response-small-text {
    margin: 0 auto;
  }
}

/* below 480px */
@media only screen {

  .forgotten-password-s2 .screen-response {
    font-size: 16px;
    width: 90%;
  }

  .forgotten-password-s2 .screen-response .response-icon>i {
    font-size: 20px;
  }

  .forgotten-password-s2 .screen-response .response-icon>i>i {
    font-size: 14px;
  }

  .forgotten-password-s2 .screen-response-small-text {
    margin-top: 20px;
    width: 90%;
  }

}

/* 480px */
@media only screen and (min-width: 480px) {

  .forgotten-password-s2 .screen-response {
    margin-top: 10px;
    max-width: 420px;
    width: auto;

  }
  .forgotten-password-s2 .screen-response .response-icon>i {
    font-size: 36px;

  }
  .forgotten-password-s2 .screen-response .response-icon>i>i {
    font-size: 26px;

  }
  .forgotten-password-s2 .screen-response .response-text {
    font-size: 25px;
    line-height: 1.2;

  }
  .forgotten-password-s2 .screen-response-small-text {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 50px;
    max-width: 420px;
    width: auto;

  }

 }
