.reset-password-s1,.reset-password-s2 {
  background-color: rgb(224,213,209);
}
.reset-password-s1 .welcome-message,.reset-password-s2 .welcome-message {
  color: $main_font_color;
}
.reset-password-s2 {
  .password-reset-message {
    margin-bottom: 5px;
  }
}
