<div class="wrapper">

  <div class="content">
    <!--<fc-header-bar user-id="userId">-->
      <!--<a ng-if="basicProfile.permissions.is_updatable" ng-click="openPhotosMobileOptionsPopup()" class="btn btn-icon pull-right tree-dots"><i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i></a>-->
      <!--<fc-like data-object="avatar" data-view-mode="mobile" data-list-page="listPageUrl"></fc-like>-->
      <!--<a class="reduced-icon-size btn btn-icon pull-right" href="#comments-wrapper"><i class="fa fa-comment-o"></i> {{avatar.comments_count}}</a>-->
    <!--</fc-header-bar>-->

    <div class="container-fluid column-holder">
      <div class="row">
        <div class="col-sm-4 left-column hidden-xs">
          <fc-user-summary data-user-id="viewedUserId"></fc-user-summary>
          <div class="left-column-block">
            <div class="left-column-block-content">
              <a ng-if="avatar.likes_count" class="clearfix red-rollover" ui-sref="user-avatars-likes({user_id: viewedUserId, photo_id: avatar.id})">
                <i class="fa fa-heart"></i><span translate>THEY_LIKE_AVATAR</span><b>{{ avatar.likes_count }}</b>
              </a>
              <a ng-if="basicProfile.permissions.is_updatable" class="clearfix pointer" ng-click="setAsProfileImage()">
                <i><i class="fa fa-user"></i></i>
                <span data-translate>SET_AS_PROFILE_PICTURE</span>
              </a>
              <a class="clearfix pointer" ng-href="{{ avatar.url_original }}" target="_blank">
                <!-- TODO : this link should download the image we are viewing, not the profile image -->
                <i><i class="fa fa-download"></i></i>
                <span>{{ "SAVE" | translate }}</span>
              </a>
            </div>
            <fc-left-column-block-header ng-if="avatar.description || avatar.taken_at || basicProfile.permissions.is_updatable">
              <h3 data-translate>PHOTO_INFORMATION</h3>
              <span><a>+</a></span>
            </fc-left-column-block-header>
            <div class="left-column-block-content" ng-show="avatar.description || avatar.taken_at">
              <p ng-show="avatar.description">{{ "DESCRIPTION_SC" | translate }}<br/><span class="left-column-names">{{ avatar.description }}</span></p>
              <p ng-show="avatar.taken_at">{{ "PHOTO_TAKEN_THE_SC" | translate }}<br/><span class="left-column-names">{{ avatar.taken_at | date: "shortDate" }}</span></p>
              <div class="item-sub-delimiter" ng-show="basicProfile.permissions.is_updatable"></div>
              <div ng-show="basicProfile.permissions.is_updatable">
                <a href="" ng-click="openAvatarPhotoDescriptionPopup()" class="left-column-bottom-link">
                  <span translate>EDIT</span><i class="fa fa-pencil-square-o"></i>
                </a>
              </div>
            </div>
            <div class="left-column-block-content" ng-show="!avatar.description && !avatar.taken_at && basicProfile.permissions.is_updatable">
              <p>
                <span data-translate>EMPTY_PHOTO_INFORMATION</span>
                <a href="" class="green-link-color" ng-click="openAvatarPhotoDescriptionPopup()" translate>EMPTY_PHOTO_CLICK_HERE</a>.
              </p>
            </div>
            <!-- <div ng-if="avatar.description || avatar.taken_at || basicProfile.permissions.is_updatable" class="left-column-block-content">
                            <p ng-show="avatar.description">{{ "DESCRIPTION" | translate }}:<br /><span class="left-column-names">{{ avatar.description }}</span></p>

                            <p ng-show="avatar.taken_at">{{ "PHOTO_TAKEN_THE" | translate }}:<br /> <span class="left-column-names">{{ avatar.taken_at | date: "shortDate" }}</span></p>
                        </div> -->
          </div>
        </div>
        <div class="col-sm-8 right-column right-column-directory">

          <div class="main-content">
            <div class="slideshow" ng-show="slideshowMode">
              <div class="navbar">
                <p class="slide-count">{{ slider.currSlideId + 1 }} / {{ slider.numSlides }}</p>
                <!--<p class="slide-description-btn fa fa-info-circle" ng-class="{active: showDescription}" ng-click="toggleShowDescription()"></p>-->
                <p id="playSlide" class="slideshow-play-btn fa fa-play"></p>
                <p id="pauseSlide" class="slideshow-pause-btn fa fa-pause"></p>
                <p id="prevSlide" class="slideshow-prev-btn fa fa-chevron-left pointer"></p>
                <p id="nextSlide" class="slideshow-next-btn fa fa-chevron-right pointer"></p>
                <p class="slideshow-close-btn fa fa-times pointer" ng-click="closeSlideshowMode()"></p>
              </div>
              <!--<img class="slideshow-img" ng-src="{{ avatar.url_original }}" />-->
              <div class="royalSlider rsDefault">
              </div>
            </div>

            <div class="clearfix visible-xs">
              <div class="center-right-icons clearfix">
                <a class="btn btn-icon btn-icon-primary" ng-click="goPreviousAvatar()"><i class="fa fa-angle-left"></i></a>
                <a class="btn btn-icon btn-icon-primary" ng-click="goNextAvatar()"><i class="fa fa-angle-right"></i></a>
              </div>
            </div>

            <!--<div class="clearfix hidden-xs">-->
              <!--<div class="center-right-icons clearfix">-->
                <!--<fc-like data-object="avatar" data-view-mode="btn-icon"></fc-like>-->
                <!--<a class="btn btn-icon btn-icon-primary pointer" ng-click="goPreviousAvatar()"><i class="fa fa-angle-left"></i></a>-->
                <!--<a class="btn btn-icon btn-icon-primary pointer" ng-click="goNextAvatar()"><i class="fa fa-angle-right"></i></a>-->
                <!--<a class="reduced-icon-size btn btn-icon btn-icon-primary pointer" ng-click="openSlideshowMode()"><i class="fa fa-play-circle-o"></i></a>-->
                <!--<a ng-if="basicProfile.permissions.is_updatable" class="reduced-icon-size btn btn-icon btn-icon-primary" ng-click="rotateLeft()"><i class="fa fa-reply"></i></a>-->
                <!--<a ng-if="basicProfile.permissions.is_updatable" class="reduced-icon-size btn btn-icon btn-icon-primary" ng-click="rotateRight()"><i class="fa fa-share"></i></a>-->
                <!--<a ng-if="basicProfile.permissions.is_updatable" class="reduced-icon-size btn btn-icon btn-icon-danger pointer" ng-click="openAvatarDeletePhotoAlertPopup()"><i class="fa fa-trash-o"></i></a>-->
              <!--</div>-->

              <!--<div ncy-breadcrumb class="hidden-xs"></div>-->
            <!--</div>-->
            <br ng-class="{'hidden-xs': showCommentsView}" />
            <div class="photo-gallery-image-holder">
              <div id="photo-wrapper" class="photo-wrapper">
                <img class="pointer" ng-click="openSlideshowMode()" id="rotated-img" ng-class="{'hidden-xs': showCommentsView}" ng-src="{{avatar.url_normal}}" />
                <div ng-show="rotation != 0" class="picture-rotate-blur"></div>
                <div ng-show="rotation != 0" class="picture-rotate-blur-neutralizer">
                  <div class="picture-rotate-confirm-controls-holder">
                    <div class="picture-rotate-confirm-controls">
                      <div><a class="btn btn-primary btn-lg button-min-width pointer" ng-click="validateRotation()" translate>SUBMIT</a></div>
                      <br />
                      <div><a class="btn btn-secondary btn-lg button-min-width pointer" ng-click="cancelRotation()" translate>CANCEL</a></div>
                    </div>
                  </div>
                </div>
              </div>

              <fc-comment-list data-object="avatar" data-user="user"></fc-comment-list>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
