<div class="wrapper" ng-init="init()">

    <div class="content">
        <div class="form-block">

          <h2 data-translate>WIZARD_TREE_PAGE_TITLE</h2>
            <div class="button-centring-holder">
              <a ng-click="nextStep(false)" class="btn btn-primary btn-lg green-button-min-width pointer hidden-xs"
                 data-translate>START_MY_TREE</a>
              <a ng-click="nextStep(true)" class="btn btn-primary btn-lg green-button-min-width pointer visible-xs"
                 data-translate>CONTINUE</a>
            </div>

        </div>
    </div>
</div>
