.gedcom.wizard.import {
  .steps {
    h3 {
      text-align: center;
      margin-top: 2em;
      font-size: 1em;
      font-weight: bold;
      color: $green;
    }
    form {
      overflow: hidden;
    }
    .cancel {
      background: $red;
      color: $white;
    }
    em {
      color: $green;
      font-style: normal;
      font-weight: bold;
    }
    .back {
      @extend .btn;
      @extend .btn-secondary;
      @extend .btn-lg;
      margin: auto;
    }
  }
}

@import "uploading/GedcomUploading";
@import "status/GedcomStatus";
@import "success/GedcomSuccess";
@import "error/GedcomError";
