<div class="content main">
  <h1 data-translate>PUBLIC.SIGN_OUT.TAKE_FAMICITY_ANYWHERE</h1>

  <div data-translate>PUBLIC.SIGN_OUT.AVAILABLE_SMART_TAB</div>
  <div class="row main-row">
    <div class="col-sm-6 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <img alt="" src="/images/sign-out/ipad-iphone.png" class="main-img img-responsive"/>
    </div>
    <fc-app-icons data-locale="{{locale}}"></fc-app-icons>
  </div>
</div>

<div class="public-header">
  <a class="logo pointer" ui-sref="public.base({locale: locale})">
    <img alt="logo" src="/images/logos/header-logo_white.png">
  </a>

  <div class="sign-in-pos sign-up">
    <a class="btn sign-up-button button-force-padding" ui-sref="public.base.sign-in({locale: locale})" data-translate>SIGN_IN</a>
  </div>
</div>

<fc-public-footer data-locale="{{locale}}"></fc-public-footer>
