.sign-out {
  $signOutBackground: #84CACC;

  .public-header {
    font-size: 1em;
    position: absolute;
    .sign-up {
      a {
        color: $signOutBackground;
      }
    }
  }

  background-color: $signOutBackground;
  .content-view {
    height: 100%;
  }
  .sign-up {
    a:hover, a:focus, a:active {
      color: white;
      background-color: #469fa2;
    }
  }
  h1, div {
    color: white;
  }
  .content {
    padding-top: 5em;
  }
  h1 {
    font-size: 2em;
  }
  .row {
    // width: 40%;
    padding-top: 2em;
    margin: 0;
  }
  .app-icons {
    clear: both;
    padding-top: 1em;
    > * {
    }
  }
}

@media only screen and (min-width: 768px) {
  @import "sign-out_desktop"; // TODO: Include this from another _desktop file instead of this mobile-first file
}
