.search-autocl-item{
  .name{
    color: $main_font_color;
  }
  .info{
    margin-top: 0.3em;
    font-size: 0.95em;
    color: $lighter_main_font_25;
  }
}

.add-relative-username {
  color: $main_font_color;
}

.add-relative-mail {
  color: $lighter_main_font_25;
}


