<div class="profile" ng-class="{cropping:formStatus.cropping, 'photo-enabled': photoEnabled}">

  <div class="holder-for-form-width">

    <form novalidate class="standard-form login-form" id="intro_form" name="introForm" fc-form-submit data-submit-method="submit()" form-in-progress="formInProgress">

      <h2 ng-show="!formStatus.cropping" data-translate>WIZARD.profile.TITLE</h2>

      <h3 ng-show="!formStatus.cropping" data-translate>WIZARD.profile.SUBTITLE</h3>

      <fc-profile-photo data-photo-to-crop="thumbnail" data-cropping="formStatus.cropping"
                        on-upload="uploaded(uploader)" ng-if="photoEnabled"></fc-profile-photo>
      <fc-gender-input ng-show="!formStatus.cropping" data-user="user"
                       data-form-name="intro_form"></fc-gender-input>
      <div ng-show="!formStatus.cropping">

        <div class="form-group" ng-if="provider">
          <div class="input-group"
               ng-class="{'has-error': (introForm.lastName.$dirty || submitted) && introForm.lastName.$invalid}">
            <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
            <label class="sr-only" for="email">{{'EMAIL'|translate}}*</label>
            <input class="form-control" id="email" name="email" ng-model="user.email"
                   ng-attr-placeholder="{{'EMAIL'|translate}}*" type="email" required/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group"
               ng-class="{'has-error':(introForm.lastName.$dirty || submitted) && introForm.lastName.$invalid}">
            <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
            <label class="sr-only" for="last-name">{{'LAST_NAME'|translate}}*</label>
            <input class="form-control" id="last-name" name="lastName" ng-model="user.last_name"
                   ng-attr-placeholder="{{'LAST_NAME'|translate}}*" type="text" required/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group"
               ng-class="{'has-error':(introForm.firstName.$dirty || submitted) && introForm.firstName.$invalid}">
            <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
            <label class="sr-only" for="first-name">{{'FIRST_NAME'|translate}}*</label>
            <input class="form-control" id="first-name" name="firstName" ng-model="user.first_name"
                   ng-attr-placeholder="{{'FIRST_NAME'|translate}}*" type="text" required/>
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="birth-date">{{'BIRTH_DATE'|translate}}*</label>
          <fc-date-input name="birthDate" id="birth-date"
                         data-locale="{{locale}}"
                         placeholder="{{'BIRTH_DATE_PLACEHOLDER'|translate}}*"
                         ng-model="user.birth_date"
                         data-not-found-message="{{'fc-date-input.DATE_INVALID'|translate}}"
                         data-click-to-confirm-message="fc-date-input.CLICK_TO_CONFIRM"
                         data-show-output="true"
                         data-year-check="validYear(year)"
                         required>
          </fc-date-input>

        </div>
        <h6>* {{"MANDATORY_FIELDS"|translate}}</h6>
        <button class="btn btn-primary" id="form-button" type="submit" data-fc-form-submit data-submit-method="submit()" data-form-in-progress="formInProgress">{{::'CONTINUE' | translate}}</button>
      </div>
    </form>

  </div>

</div>
