<div class="wrapper">
  <div class="content">
    <div class="centered">
      <div>
        <div class="home-above-form">
          <h1 translate>CREATE_NEW_PASSWORD</h1>

          <p ng-bind-html="'RESET_PASSWORD_OAUTH_MSG' | translate: {email: email}"></p>
        </div>
      </div>
      <div class="form-block">
        <form fc-form-submit data-submit-method="reset()" data-form-in-progress="formInProgress" novalidate
              class="standard-form login-form" id="login-form" name="loginForm">
          <div class="form-group">
            <div class="input-group"
                 ng-class="{'has-error': (loginForm.newPassword.$dirty || resetFormSubmitted) && loginForm.newPassword.$invalid}">
              <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
              <label class="sr-only" for="new-password" translate>YOUR_NEW_PASSWORD</label>
              <input class="form-control" tooltip-append-to-body="true" tooltip-placement="right"
                     ng-keypress="checkCaps($event)" ng-attr-tooltip-html-unsafe="{{ passwordTooltip | translate }}"
                     id="new-password" data-translate data-translate-attr-placeholder="YOUR_NEW_PASSWORD"
                     type="password" ng-model="passwords.userPassword" name="newPassword" required ng-minlength="6"/>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group"
                 ng-class="{'has-error': (loginForm.newPasswordConfirmation.$dirty || resetFormSubmitted) && loginForm.newPasswordConfirmation.$invalid}">
              <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
              <label class="sr-only" for="new-password-confirm" translate>CONFIRM_PASSWORD</label>
              <input class="form-control" tooltip-append-to-body="true" tooltip-placement="right"
                     ng-keypress="checkCaps($event)" ng-attr-tooltip-html-unsafe="{{ passwordTooltip | translate }}"
                     id="new-password-confirm" data-translate data-translate-attr-placeholder="CONFIRM_PASSWORD"
                     type="password" ng-model="passwords.userPasswordConfirmation" name="newPasswordConfirmation"
                     required ng-minlength="6" fc-match="passwords.userPassword"/>
            </div>
          </div>
          <button fc-form-submit data-form-in-progress="formInProgress" class="btn btn-primary green-button "
                  id="form-button" type="submit" ng-bind="'CHANGE_PASSWORD' | translate"></button>
        </form>
      </div>
    </div>
  </div>
</div>
