<div class="wrapper">

  <div class="content">

    <!--<fc-header-bar user-id="userId">-->
    <!--<h2 class="pull-left" translate>SEARCH.TITLE</h2>-->
    <!--</fc-header-bar>-->


    <div class="row">

      <div class="col-sm-4 left-column hidden-xs">
        <fc-search-filter data-filter="filter"></fc-search-filter>
      </div>

      <div class="col-sm-8 right-column">

        <fc-user-list ng-if="!(users.length && users[0].error)"
                      ng-model="users"
                      me="me"
                      data-load-more="loadMore"
                      data-mode="directory"
                      data-display-capital="falseValue"
                      data-disable-search-field="falseValue"
                      data-min-length="2"
                      data-result-count="resultCount"></fc-user-list>
        <div ng-if="users.length && users[0].error">
          {{ 'ERROR_PLEASE_RETRY' | translate }}
        </div>
      </div>
    </div>

  </div>
</div>
