<div class="invite-menu">

  <div class="holder-for-form-width">

    <h2 data-translate>WIZARD.invite-menu.TITLE</h2>

    <h3 data-translate>WIZARD.invite-menu.SUBTITLE</h3>

    <form class="standard-form login-form" name="inviteMenuForm">
      <div class="form-group">
        <button class="btn btn-primary" ng-click="invite()" data-translate>WIZARD.invite-menu.VIA_EMAILS</button>
        <button class="btn btn-secondary" ng-click="sync()" data-translate>WIZARD.invite-menu.VIA_ADDRESS_BOOK
        </button>
      </div>
    </form>
    <h4 data-translate>WIZARD.invite-menu.NOTE</h4>
  </div>
</div>
