// Green
$green: #96bd3d;
$green1: #f7faf0;
$green2: #dbebad;
$green3: #a0ca41;
$green4: $green;
$green5: #82a335;

// Grey
$grey: #6a7178;
$grey1: #f4f4f4;
$grey2: #ddd;
$grey3: #a8a8aa;
$grey4: #757d85;
$grey5: $grey;
$grey6: #53595e;
$grey7: #FAFAFA;

// Indigo
$indigo: #909dc5;
$indigo1: #f0f3fb;
$indigo2: #d8ddeb;
$indigo3: #99a7d2;
$indigo4: $indigo;
$indigo5: #7d89ab;

// Red
$red: #f04949;
$red1: #fd4d4d;
$red2: $red;
$red3: #d64141;

// Orange
$orange: #fdbb33;
$orange1: #fdc44d;
$orange2: $orange;
$orange3: #fead06;

// Blue
$blue: #82b6dd;
$blue1: #c0dff4;
$blue2: $blue;
$blue3: #3598db;
