<div id="invitation-alert-modal">
  <div class="popin-holder popin-holder-on">
    <div class="popin-dialog">
      <div class="popin-dialog-decoration"></div>
      <i ng-click="$dismiss()" class="fc fc-close pointer"></i>
      <form>
        <h3 data-translate>NavigationToPublic.TITLE</h3>
        <p data-translate>NavigationToPublic.THIS_WILL_LOGOUT</p>
        <button class="btn btn-primary" ng-click="continue()" type="submit" data-translate>SUBMIT</button>
        <button class="btn btn-secondary" ng-click="$close()" data-translate>CANCEL</button>
      </form>

    </div>
  </div>
</div>
