<div id="add-contacts-options-modal">
  <div class="popin-holder popin-holder-on">
    <div class="popin-dialog">
      <div class="popin-dialog-decoration"></div>
      <h3 data-translate>MY_CONTACTS</h3>
      <form>
        <div class="vertical-button-group import-contacts-buttons">
          <div>
            <a class="btn btn-input btn-lg button-with-image-icon button-min-width pointer"
               ui-sref="u.directory.import-from-services({user_id: userId})"><span><i><i
              class="fa fa-share-square-o"></i></i><span data-translate>IMPORT_ADDRESSES_BOOK</span></span></a>
          </div>
          <div>
            <a class="btn btn-input btn-lg button-with-image-icon button-min-width pointer" ng-click="goToInvitePage()"><span><i
              class="fa fa-envelope"></i><span data-translate>INVITE_FAMILY</span></span></a>
          </div>
          <div>
            <a class="btn btn-input btn-lg button-with-image-icon button-min-width pointer"
               ng-click="goToAddContactPage()"><span><i class="fa fa-book"></i><span data-translate>ADD_RELATIVE</span></span></a>
          </div>
          <button class="btn btn-secondary btn-lg button-min-width" ng-click="$close()" type="submit" data-translate>
            CANCEL
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
