<div id="delete-album-alert-modal">
  <div class="popin-holder popin-holder-on">
    <div class="popin-dialog">
      <div class="popin-dialog-decoration"></div>
      <h3 data-translate>EMPTY_INVITATIONS_ALERT</h3>

      <form action="javascript:;" class="standard-form login-form" id="intro_form" method="POST">
        <div class="form-group">
          <button class="btn btn-primary" type="submit" ng-click="addRights()" data-translate>INVITE_PEOPLE</button>
        </div>
        <button class="btn btn-secondary" ng-click="confirm()" type="submit" data-translate>EVENT_ONLY_FOR_ME</button>
      </form>
    </div>
  </div>
</div>
