$colorLike: $red;

fc-like {
  display: inline-block;
  .icon, .counter {
    display: inline;
    color: $white;
    .count-only {
      display: inline;
      font-size: 0.7em;
    }
    .count-full {
      display: none;
    }
  }
}

@include aboveMediumScreen() {
  fc-like {
    width: auto;
    .icon, .counter {
      color: $colorLike;
      .count-only {
        display: none;
      }
      .count-full {
        display: inline;
      }
    }
    .fc-toolbar-icon & {
      &,
      > span,
      a.icon {
        display: inline-block;
        width: 100%;
      }
    }
  }
}
