@include aboveMediumScreen() {
  .presentation {
    #tree {
      .text {
        p {
          text-align: center;
        }
      }
      .image {
        height: 50vh;
        background-size: contain;
      }
    }
  }
}
