<div>
  <div class="left-column-block">
    <fc-user-summary></fc-user-summary>
    <fc-left-column-block-header action="goToImportGedcomPage()" show-btn="true" style-apply="">
      <h3 data-translate>IMPORT_MY_GEDCOM</h3>
      <span><a class="btn-plus">+</a></span>
    </fc-left-column-block-header>
    <span data-translate>LEFT_COLUMN_GEDCOM_IMPORT_INSTRUCTION</span>
  </div>

  <!--<div class="left-column-block left-column-block-content">-->
    <!--<fc-left-column-block-header class="gedcom-left-menu-title" style-apply="">-->
      <!--<h3 data-translate>MY_GEDCOM_SPACE</h3>-->
      <!--<span></span>-->
    <!--</fc-left-column-block-header>-->
    <!--<a ui-sref="u.gedcom-index({user_id: userId})">-->
      <!--<i><i class="fa fa-clock-o"></i></i><span data-translate>PENDING_IMPORTATIONS</span><b>{{-->
      <!--gedcom_summary.in_progress_count }}</b>-->
    <!--</a>-->
    <!--<a ui-sref="u.gedcom-index({user_id: userId})">-->
      <!--<i><i class="fa fa-check"></i></i><span data-translate>ENDED_IMPORTATIONS</span><b>{{-->
      <!--gedcom_summary.complete_count }}</b>-->
    <!--</a>-->
  <!--</div>-->
</div>
