<div class="lang lang-pos" data-fc-language-switcher></div>

<div class="wrapper" ng-init="init()">
    <div class="content">
        <div class="main">
            <div class="home-above-form">
                <div class="ui_elem famicity-logo"><a ui-sref="base"></a></div>
                <h1 translate>500_PAGE_TITLE</h1>
            </div>
            <h2 translate>500_PAGE_SECOND_TITLE</h2>
            <h3 translate>500_PAGE_ERROR_MESSAGE</h3>
            <div>
                <a class="btn btn-primary btn-lg green-button-min-width" ui-sref="base" translate>RETURN_TO_FAMICITY_LINK</a>
            </div>
        </div>

    </div>
</div>
