<div class="wrapper" ng-init="init()">
  <div class="lang lang-pos" data-fc-language-switcher></div>
  <div class="content">
    <div class="main">
      <div id="slide1" class="introduction-slide image-slide">
        <div id="inner-slide1">
          <div fc-sign-up data-locale="{{locale}}" intro-text="BASELINE-CALENDAR"></div>
          <a data-fc-scroll href="#slide2" class="next-slide-link fa fa-chevron-down"></a>
        </div>
      </div>

      <div id="slide2" class="content-slide">
        <div class="slide-text">
          <h2 translate>CALENDAR-SLIDE2-TITLE</h2>

          <p translate>CALENDAR-SLIDE2-TEXT</p>
        </div>
        <div class="content-image">
	<div class="parallax-calendar-sprite sprite-agenda-en-ligne">
</div></div>

        <a data-fc-scroll href="#slide3" class="next-slide-link fa fa-chevron-down"></a>
      </div>

      <div id="image-slide2" class="image-slide"></div>

      <div id="slide3" class="slide content-slide">
        <div class="content-image">
	<div class="parallax-calendar-sprite sprite-cadeaux1">
</div></div>
        <div class="slide-text">
          <h2 translate>CALENDAR-SLIDE3-TITLE</h2>

          <p translate>CALENDAR-SLIDE3-TEXT</p>
        </div>

        <a data-fc-scroll href="#slide4" class="next-slide-link fa fa-chevron-down"></a>
      </div>

      <div id="image-slide3" class="image-slide"></div>

      <div id="slide4" class="slide content-slide">
        <div class="slide-text">
          <h2 translate>CALENDAR-SLIDE4-TITLE</h2>

          <p translate>CALENDAR-SLIDE4-TEXT</p>
        </div>
        <div class="content-image">
	<div class="parallax-calendar-sprite sprite-invitations-evenements">
</div></div>

        <a data-fc-scroll href="#slide5" class="next-slide-link fa fa-chevron-down"></a>
      </div>

      <div id="image-slide4" class="image-slide"></div>

      <div id="slide5" class="slide content-slide">
        <div class="content-image">
	<div class="parallax-bubble-sprite sprite-albums-photos-evenements">
</div></div>
        <div class="slide-text">
          <h2 translate>CALENDAR-SLIDE5-TITLE</h2>

          <p translate>CALENDAR-SLIDE5-TEXT</p>
        </div>

        <a data-fc-scroll href="#slide1" class="next-slide-link fa fa-chevron-up"></a>
      </div>
    </div>
  </div>

  <div fc-public-footer data-locale="{{locale}}"></div>

</div>
