<div class="wrapper" ng-init="init()">
    <div class="lang lang-pos" data-fc-language-switcher></div>
    <div class="content">
        <div class="main">
            <div id="slide1" class="introduction-slide image-slide">
                <div id="inner-slide1">
                  <div fc-sign-up data-locale="{{locale}}" intro-text="BASELINE-NEWS-FEED"></div>
                  <a data-fc-scroll href="#slide2" class="next-slide-link fa fa-chevron-down"></a>
                </div>
            </div>

            <div id="slide2" class="content-slide">
                <div class="slide-text">
                    <h2 translate>NEWS-FEED-SLIDE2-TITLE</h2>
                    <p translate>NEWS-FEED-SLIDE2-TEXT</p>
                </div>
                <div class="content-image">
	<div class="parallax-news-feed-sprite sprite-nouvelles-de-vos-proches">
</div></div>

                <a data-fc-scroll href="#slide3" class="next-slide-link fa fa-chevron-down"></a>
            </div>

            <div id="image-slide2" class="image-slide"></div>

            <div id="slide3" class="slide content-slide">
                <div class="content-image">
	<div class="parallax-news-feed-sprite sprite-partage-famille">
</div></div>
                <div class="slide-text">
                    <h2 translate>NEWS-FEED-SLIDE3-TITLE</h2>
                    <p translate>NEWS-FEED-SLIDE3-TEXT</p>
                </div>

                <a data-fc-scroll href="#slide4" class="next-slide-link fa fa-chevron-down"></a>
            </div>

            <div id="image-slide3" class="image-slide"></div>

            <div id="slide4" class="slide content-slide">
                <div class="slide-text">
                    <h2 translate>NEWS-FEED-SLIDE4-TITLE</h2>
                    <p translate>NEWS-FEED-SLIDE4-TEXT</p>
                </div>
                <div class="content-image">
	<div class="parallax-bubble-sprite sprite-messagerie-pour-tous">
</div></div>

                <a data-fc-scroll href="#slide5" class="next-slide-link fa fa-chevron-down"></a>
            </div>

            <div id="image-slide4" class="image-slide"></div>

            <div id="slide5" class="slide content-slide">
                <div class="content-image">
	<div class="parallax-news-feed-sprite sprite-sauvegarde">
</div></div>
                <div class="slide-text">
                    <h2 translate>NEWS-FEED-SLIDE5-TITLE</h2>
                    <p translate>NEWS-FEED-SLIDE5-TEXT</p>
                </div>

                <a data-fc-scroll href="#slide6" class="next-slide-link fa fa-chevron-down"></a>
            </div>

            <div id="image-slide5" class="image-slide"></div>

            <div id="slide6" class="slide content-slide">
                <div class="slide-text">
                    <h2 translate>NEWS-FEED-SLIDE6-TITLE</h2>
                    <p translate>NEWS-FEED-SLIDE6-TEXT</p>
                </div>
                <div class="content-image">
	<div class="parallax-bubble-sprite sprite-annuaire-prive">
</div></div>

                <a data-fc-scroll href="#slide1" class="next-slide-link fa fa-chevron-up"></a>
            </div>
        </div>
    </div>

    <div fc-public-footer data-locale="{{locale}}"></div>

</div>
