<footer>
  <div class="container">
    <div class="row footer-links">
      <div class="col-sm-4">
        <div class="footer-link-column">
          <h5 data-translate>FAMICITY</h5>
          <ul>
            <li><a ui-sref="public.about({locale: locale})" data-translate>ABOUT_US_LINK</a></li>
            <li><a ui-sref="public.famicity-presentation({locale: locale})" data-translate>DISCOVER_FAMICITY_LINK</a></li>
            <li><a ui-sref="public.privacy({locale: locale})" data-translate>PRIVACY_LINK</a></li>
            <li><a ui-sref="public.economical-model({locale: locale})" data-translate>ECONOMICAL_MODEL_LINK</a></li>
            <li><a href="/static/cnil_et_charte_confidentialite_famicity.pdf" target="_blank" data-translate>PRIVACY_POLICY_LINK</a></li>
            <li><a ui-sref="public.helps({locale: locale})" data-translate>HELP_LINK</a></li>
            <li><a ui-sref="public.terms({locale: locale})" data-translate>TERMS_OF_USE_LINK</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="content-delimiter-short visible-xs"></div>
        <div class="footer-link-column">
          <h5 data-translate>STAY_CONNECTED</h5>
          <ul>
            <li><a ui-sref="public.contact({locale: locale})" data-translate><span></span>CONTACT_US_LINK</a></li>
            <li class="footer-link-twitter"><a href="https://twitter.com/Famicity" target="_blank" data-translate><span class="fa fa-twitter-square"></span>TWITTER_LINK</a></li>
            <li><a href="https://www.facebook.com/famicity" target="_blank" data-translate><span class="fa fa-facebook-square"></span>FACEBOOK</a></li>
            <!-- <li><a href="#" data-translate><span></span>NEWSLETTER_LINK</a></li>
            <li><a href="#" data-translate><span></span>PRESS_LINK</a></li>
            <li><a href="#" data-translate><span></span>TESTIMONIALS_LINK</a></li> -->
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="content-delimiter-short visible-xs"></div>
        <div class="footer-link-column">
          <h5 data-translate>DISCOVER_SPACES</h5>
          <ul>
            <li class="footer-link-newsfeed"><a ui-sref="public.news-feed({locale: locale})" data-translate><span class="fa fa-pencil"></span>NEWS_FEED_LINK</a></li>
            <li><a ui-sref="public.family-tree({locale: locale})" data-translate><span class="fa fa-leaf"></span>FAMILY_TREE_LINK</a></li>
            <li><a ui-sref="public.album({locale: locale})" data-translate><span class="fa fa-picture-o"></span>ALBUMS_LINK</a></li>
            <li><a ui-sref="public.directory({locale: locale})" data-translate><span class="fa fa-book"></span>DIRECTORY_LINK</a></li>
            <li><a ui-sref="public.mail({locale: locale})" data-translate><span class="fa fa-envelope"></span>MESSAGING</a></li>
            <li><a ui-sref="public.calendar({locale: locale})" data-translate><span class="fa fa-calendar"></span>CALENDAR</a></li>
            <li><a ui-sref="public.profile({locale: locale})" data-translate><span class="fa fa-user"></span>PROFILE.TITLE</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">Famicity, famillecity, familycity 2008-2015 Copyright</div>
</footer>
