<div class="wrapper">
    <div class="content">

        <header>
            <div class="ui_elem round-famicity-logo">
                <a ui-sref="public.base({locale: locale})"></a>
            </div>
            <h1><span class="fa fa-info-circle"></span> {{ "TERMS_OF_USE_LINK" | translate }}</h1>
            <div class="top-right-linkbar">
                <div class="visible-xs xs-top-right-linkbar-content"><a href="#"><i class="fa fa-flag"></i></a> &nbsp; / &nbsp; <a href="#"><i class="fa fa-lock"></i></a></div>
                <div class="hidden-xs"><span class="lang" data-fc-language-switcher></span> &nbsp; / &nbsp; <a ui-sref="public.base.sign-in({locale: locale})" translate>CONNECT_LINK</a></div>
            </div>
        </header>

        <div class="header-image bg-image-cover"></div>
        <div class="header-underline"></div>

        <div class="terms-text">
            <ul>

                <li><h2 translate>TERMS_BLOCK1_TITLE</h2><br />

                  <p data-translate>TERMS_BLOCK1_TEXT</p>
                </li>
                <br />
                <li><h2 translate>TERMS_BLOCK2_TITLE</h2><br />

                  <p data-translate>TERMS_BLOCK2_TEXT</p>
                </li>
                <br />
                <li><h2 translate>TERMS_BLOCK3_TITLE</h2><br />

                  <p data-translate>TERMS_BLOCK3_TEXT</p>
                </li>
                <br />
                <li><h2 translate>TERMS_BLOCK4_TITLE</h2><br />

                  <p data-translate>TERMS_BLOCK4_TEXT</p>
                </li>
                <br />
                <li><h2 translate>TERMS_BLOCK5_TITLE</h2><br />

                  <p data-translate>TERMS_BLOCK5_TEXT</p>
                </li>
                <br />
                <li><h2 translate>TERMS_BLOCK6_TITLE</h2><br />

                  <p data-translate>TERMS_BLOCK6_TEXT</p>
                </li>
                <br />
                <li><h2 translate>TERMS_BLOCK7_TITLE</h2><br />

                  <p data-translate>TERMS_BLOCK7_TEXT</p>
                </li>
                <br />
                <li><h2 translate>TERMS_BLOCK8_TITLE</h2><br />

                  <p data-translate>TERMS_BLOCK8_TEXT</p>
                </li>

            </ul>
        </div>

    </div>

    <div fc-public-footer data-locale="{{locale}}"></div>

</div>
