<div id="invitation-alert-modal">
  <div class="popin-holder popin-holder-on">
    <div class="popin-dialog">
      <div class="popin-dialog-decoration"></div>
      <i ng-click="$dismiss()" class="fc fc-close pointer"></i>
      <form>
        <h3 data-translate>DIRECTORY.INVITATION.TUTORIAL_POPUP_TITLE</h3>
        <p data-translate>DIRECTORY.INVITATION.TUTORIAL_POPUP_TEXT</p>
        <button ui-sref="u.directory.invite" class="btn btn-primary" ng-click="$close()" type="submit" data-translate>
          DIRECTORY.INVITATION.TUTORIAL_POPUP_BTN
        </button>
      </form>
    </div>
  </div>
</div>
