<div class="presentation" id="presentation">

  <div id="banner" class="page-start fc-scrollbar-aware" fc-scroll data-anchor-id="ref-what" data-register="false">
    <h1 data-translate>PRESENTATION.BANNER.TITLE</h1>
  </div>

  <div id="what" class="page" fc-scroll data-anchor-id="ref-what">
    <div class="arrow"></div>
    <div class="contents">
      <div class="centered">

        <div class="screenshots desktop-image">
          <div class="desktop"
               afkl-lazy-image="{{ '/scripts/presentation/what/desktop/2-histoire-' + locale.toUpperCase() + '.png' }}"
               afkl-lazy-image-options="{background: true, offset: 30}"></div>
          <div class="mobile"
               afkl-lazy-image="{{ '/scripts/presentation/what/desktop/2-iPhone-' + locale.toUpperCase() + '.png' }}"
               afkl-lazy-image-options="{background: true}"></div>
        </div>

        <div class="text">
          <h1 data-translate>PRESENTATION.SLIDE_WHAT.TITLE</h1>

          <div data-translate>PRESENTATION.SLIDE_WHAT.TEXT</div>

          <div class="platforms">
            <span class="fa fa-desktop"></span>
            <span class="fa fa-tablet"></span>
            <span class="fa fa-mobile"></span>
          </div>

          <fc-app-icons data-locale="{{locale}}"></fc-app-icons>
        </div>
        <div class="mobile-image">
          <div class="image"
               afkl-lazy-image="{{ '/scripts/presentation/what/2-histoire-mobile-EN-FR.jpg' }}"
               afkl-lazy-image-options="{background: true}"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="tree" class="page" fc-scroll data-anchor-id="ref-tree">
    <div class="arrow"></div>
    <div class="contents">
      <div class="centered">

        <div class="text">
          <h1 data-translate>PRESENTATION.SLIDE_TREE.TITLE</h1>

          <div data-translate>PRESENTATION.SLIDE_TREE.TEXT</div>
        </div>

        <div class="desktop-image">
          <div class="image"
               afkl-lazy-image="{{ '/scripts/presentation/tree/desktop/3-arbre-EN-FR.png' }}"
               afkl-lazy-image-options="{background: true}"></div>
        </div>
        <div class="mobile-image">
          <div class="image"
               afkl-lazy-image="{{ '/scripts/presentation/tree/3-arbre-mobile-EN-FR.png' }}"
               afkl-lazy-image-options="{background: true}"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="share" class="page" fc-scroll data-anchor-id="ref-share">
    <div class="arrow"></div>
    <div class="contents">
      <div class="centered">

        <div class="text">
          <h1 data-translate>PRESENTATION.SLIDE_SHARE.TITLE</h1>

          <div data-translate>PRESENTATION.SLIDE_SHARE.TEXT</div>
        </div>

        <div class="mobile-image">
          <div class="images">
            <div class="share-img-1"
               afkl-lazy-image="{{ '/scripts/presentation/share/4-photo-4-EN-FR.jpg' }}"
               afkl-lazy-image-options="{background: true}"></div>
            <div class="share-img-3"
               afkl-lazy-image="{{ '/scripts/presentation/share/4-photo-2-EN-FR.png' }}"
               afkl-lazy-image-options="{background: true}"></div>
            <div class="share-img-4"
               afkl-lazy-image="{{ '/scripts/presentation/share/4-photo-3-EN-FR.png' }}"
               afkl-lazy-image-options="{background: true}"></div>
          </div>
        </div>

        <div class="desktop-image">
          <div class="images">
            <div class="share-img-1"
                 afkl-lazy-image="{{ '/scripts/presentation/share/4-photo-4-EN-FR.jpg' }}"
               afkl-lazy-image-options="{background: true}"></div>
            <div class="share-img-2"
                 afkl-lazy-image="{{ '/scripts/presentation/share/4-photo-1-EN-FR.jpg' }}"
               afkl-lazy-image-options="{background: true}"></div>
            <div class="share-img-3"
                 afkl-lazy-image="{{ '/scripts/presentation/share/4-photo-2-EN-FR.png' }}"
               afkl-lazy-image-options="{background: true}"></div>
            <div class="share-img-4"
                 afkl-lazy-image="{{ '/scripts/presentation/share/4-photo-3-EN-FR.png' }}"
               afkl-lazy-image-options="{background: true}"></div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="fusion" class="page" fc-scroll data-anchor-id="ref-fusion">
    <div class="arrow"></div>
    <div class="contents">
      <div class="centered">

        <div class="text">
          <h1 data-translate>PRESENTATION.SLIDE_FUSION.TITLE</h1>

          <div class="first-paragraph" data-translate>PRESENTATION.SLIDE_FUSION.TEXT</div>
          <div class="mobile-image">
            <div class="image"
                 afkl-lazy-image="{{ '/scripts/presentation/fusion/5-fusion-mobile-' + locale.toUpperCase() + '.png' }}"
                 afkl-lazy-image-options="{background: true}"></div>
          </div>
          <div class="desktop-image">
            <div class="image"
                 afkl-lazy-image="{{ '/scripts/presentation/fusion/desktop/5-fusion-' + locale.toUpperCase() + '.png' }}"
                 afkl-lazy-image-options="{background: true}"></div>
          </div>
          <div class="tree-count">
            <fc-trees-count key="PRESENTATION.SLIDE_FUSION.BOTTOM_LINE"
                            data-prop="max_tree_users_count"></fc-trees-count>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="privacy" class="page" fc-scroll data-anchor-id="ref-privacy">
    <div class="arrow"></div>
    <div class="contents">
      <div class="centered">

        <div class="mobile-image">

        </div>
        <div class="desktop-image">
          <div class="image"
               afkl-lazy-image="{{ '/scripts/presentation/privacy/desktop/6-photo-3-EN-FR.png' }}"
               afkl-lazy-image-options="{background: true}"></div>
        </div>

        <div class="text">

          <h1 data-translate>PRESENTATION.SLIDE_PRIVACY.TITLE</h1>

          <div class="quote">
            <div class="portrait"
                 afkl-lazy-image="{{ '/scripts/presentation/privacy/6-photo-1-EN-FR.png' }}"
                 afkl-lazy-image-options="{background: true}"></div>
            <blockquote data-translate>PRESENTATION.SLIDE_PRIVACY.FOUNDER_QUOTE_1</blockquote>
          </div>
          <div class="quote">
            <div class="portrait"
                 afkl-lazy-image="{{ '/scripts/presentation/privacy/6-photo-2-EN-FR.png' }}"
                 afkl-lazy-image-options="{background: true}"></div>
            <blockquote data-translate>PRESENTATION.SLIDE_PRIVACY.FOUNDER_QUOTE_2</blockquote>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div id="engage" class="page" fc-scroll data-anchor-id="ref-engage">
    <div class="arrow"></div>
    <div class="contents">
      <div class="centered">
        <h1>
          <fc-trees-count data-key="PRESENTATION.SLIDE_ENGAGE.TITLE" data-prop="trees_count"></fc-trees-count>
        </h1>

        <div class="quotes" ng-controller="QuotesController as quotes">
          <div class="quote">
            <a ng-click="quotes.quotePrev()">
              <i class="left-slider fc fc-arrow-left"></i>
            </a>

            <div class="quote">
              <a ng-click="quotes.quoteNext()">
                <blockquote data-translate ng-show="quotes.currentQuote == 0">PRESENTATION.SLIDE_ENGAGE.TEXT.0</blockquote>
                <blockquote data-translate ng-show="quotes.currentQuote == 1">PRESENTATION.SLIDE_ENGAGE.TEXT.1</blockquote>
                <blockquote data-translate ng-show="quotes.currentQuote == 2">PRESENTATION.SLIDE_ENGAGE.TEXT.2</blockquote>
                <blockquote data-translate ng-show="quotes.currentQuote == 3">PRESENTATION.SLIDE_ENGAGE.TEXT.3</blockquote>
                <blockquote data-translate ng-show="quotes.currentQuote == 4">PRESENTATION.SLIDE_ENGAGE.TEXT.4</blockquote>
                <blockquote data-translate ng-show="quotes.currentQuote == 5">PRESENTATION.SLIDE_ENGAGE.TEXT.5</blockquote>
                <blockquote data-translate ng-show="quotes.currentQuote == 6">PRESENTATION.SLIDE_ENGAGE.TEXT.6</blockquote>
              </a>
            </div>
            <a ng-click="quotes.quoteNext()">
              <i class="right-slider fc fc-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="form-container">
          <h2 data-translate>PRESENTATION.SLIDE_ENGAGE.TITLE2</h2>
          <a class="btn btn-primary" ui-sref="public.base.sign-in({locale: locale})" data-translate>WELCOME.SIGN_IN</a>
          <br>
          <a class="btn btn-secondary" href="#welcome" fc-scroll data-translate>PRESENTATION.SLIDE_ENGAGE.BUTTON</a>
        </div>
      </div>
    </div>
  </div>

  <ol class="slider">
    <li><a id="ref-welcome" href="#welcome" fc-scroll></a></li>
    <li><a id="ref-what" href="#what" fc-scroll></a></li>
    <li><a id="ref-tree" href="#tree" fc-scroll></a></li>
    <li><a id="ref-share" href="#share" fc-scroll></a></li>
    <li><a id="ref-fusion" href="#fusion" fc-scroll></a></li>
    <li><a id="ref-privacy" href="#privacy" fc-scroll></a></li>
    <li><a id="ref-engage" href="#engage" fc-scroll></a></li>
  </ol>

  <div class="header">
    <a href="#welcome" fc-scroll>
      <div class="logo"></div>
    </a>

    <div class="sign-in-pos hidden-xs">
      <a class="btn btn-secondary sign-up-button" href="#welcome" fc-scroll data-translate>HEADER.SIGN_UP</a>
      <a class="btn btn-primary home-signin" ui-sref="public.base.sign-in({locale: locale})" data-translate>WELCOME.SIGN_IN</a>
    </div>
  </div>

</div>
